h1{ 
color: blueviolet;
font-size: 40px;
text-align: center;
background-color: black;
line-height: 100px;
text-shadow: 8px 8px 8px blueviolet;

}
h1:hover{
    background-color: bisque;
    color: blue;
    text-shadow: 0px 0px 8px;
}

p{
    font-weight: bolder;
    font-style: italic;
}

img{
width: 1300px;
height: 500px;
border-radius: 10px;
}
a{
    background-color: black;
    color: blueviolet;
    font-weight: bolder;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;

}
a:hover{background-color: bisque;
    color: blue;


}