form{
    background-color: aquamarine;
    width: 50%;
    margin: 0 auto;
    padding:30px;
    border-radius: 20px;
    box-shadow: 0 0 8px;
}

legend{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bolder;
    text-shadow: 0 0 8px;
    
}
label{
    font-size: 18px;
    font-family: sans-serif;
}

input[type=text],
 [type=email],
  [type=password],
   [type=date],
    [type=datetime-local],
     [type=number],
     [type=file],
      select{
        width: 100%;
        height: 30px;
        border-radius: 10px;
        border: none;
        padding-left: 10px;
        margin-top: 10px;
      
    }

    button{
        background-color: bisque;
        padding: 10px;
        border-radius: 10px;

    }
    button:hover{
        background-color: azure;
        color: blue;
    }
    body{
        background-image: url(../images/bikes/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }